<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNOME needs your skills</title>
    <link rel="stylesheet" href='{{ "style.css" | absURL }}'>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <header>

    </header>
    <main class="container">

        <section>
            <h2>Applications</h2>
            <div id="apps" class="cards">
                {{ range .Site.Data.apps }}
                <div class="card">
                    <header>
                        <img class="logo" alt={{ .name }} src='{{ printf "icons/%s" .icon | absURL }}' />
                    </header>
                    <h3>{{.name }}</h3>
                    <p>{{.description}}</p>
                    <footer>
                        <div class="tags">
                            {{ range .tags }}
                            <span class="tag {{ lower .}}">{{ .}}</span>
                            {{ end }}
                        </div>
                        <div class="source">
                            <a href="{{ .sourceURL }}">
                                <img src='{{ "git.svg" | absURL }}' width='16' alt="Git" />
                            </a>
                        </div>
                    </footer>
                </div>
                {{ end}}
            </div>
        </section>
        <!--
        <section>
            <h2>Libraries</h2>
            <div id="libs" class="cards">

            </div>
        </section>
        -->
    </main>
    <footer class="footer">
        <p>
            Created by <a href="https://belmoussaoui.com">Bilal Elmoussaoui</a>. Built using <a href="https://www.gohugo.org/">Hugo</a>
        </p>
        <p><a href="https://gitlab.gnome.org/bilelmoussaoui/unmaintained">Source Code</a></p>
    </footer>
</body>

</html>