:root {
  --card-bg: white;
  --card-border: rgba(0, 0, 0, 0.2);
}

html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Cantarell", sans-serif;
  background-color: #f6f5f4;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  font-weight: 300;
  font-size: 24pt;
  letter-spacing: 0.2rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-areas: ". . .";
  justify-content: space-between;
}

.card {
  position: relative;
  width: 250px;
  padding: 12px;
  height: 300px;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.card::backdrop {
  box-shadow: inset 0 1px 2px transparent;
}

.card h3 {
  text-align: center;
  font-weight: 700;
  font-size: 15pt;
}

.card p {
  font-weight: 400;
  font-size: 11pt;
}

.card .logo {
  width: 128px;
  height: 128px;
  transform: translateX(50%);
  filter: drop-shadow(0 0.08rem 0.1rem rgba(0, 0, 0, 0.25))
    drop-shadow(0 0.4rem 0.7rem rgba(0, 0, 0, 0.14));
}

.card footer {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 90%;
}

.source {
  align-self: center;
}

.tag {
  min-width: 16px;
  text-align: center;
  display: inline-block;
  padding: 4px 6px;
  margin: 2px;  
  font-size: 10pt;
}

.tag.javascript {
  background-color: #f8e45c;
}

.tag.c {
  background-color: #26a269;
  color: white;
}
.tag.vala {
  background-color: #9141ac;
  color: white;
}

footer.footer {
  margin-top: 60px;
  height: 80px;
  text-align: center;
  font-size:12pt;
}
footer.footer a {
    color: #1a5fb4
}
